body { background: #f5f5f5; padding-top: 51px; padding-bottom: 40px; }
#filter{
	ul {
    	margin-top: 20px;
    	font-weight: 300;
    	li {
		    list-style: none;
		    float: left;
		    margin-right: 15px;
		    padding: 6px 10px;
		    margin-bottom: 20px;
		    background: #eee;
		    display: initial;
		    color:#333;
		    select{
		    	height:34px;
		    }
		}
	}
}
.bg1 {
	background-color: #f1efef;	
}
.bg2 {
	background-color: #f6f6f6;	
}
.bg3 {
	background-color: #f1efef;	
	padding: 30px 0;
}
.navbar-default {
	background-color: #fff;
	border-color: rgba(0,0,0,0.065)
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{color: #333; font-weight: 300;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #ff6666;border-color: #ff6666;}

@media (max-width: 768px){
	.navbar-nav {
		margin: 0 -15px;
	}
}
